[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm install"]

[start]
cmd = "node server.js"

# Asegurar que solo se despliegue el directorio backend
[providers]
railway = { root = "." }